@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<AdvancePayment>
@{
    Layout = "_Layout";
}
<div id="container" style="margin-left: 20px">

    <div class="pagination" style="margin-left: 400px">
        @Html.PagedListPager(Model, page => Url.Action("AdvancePaymentList", new { page }))
    </div>
</div>